<section class="author">
    <h4><%- config.author %></h4>
    <p><%- theme.bio %></p>
    <span><a href="https://www.techbridge.cc/" target="_blank">技術日報</a></span> / <span><a href="https://weekly.techbridge.cc/" target="_blank">技術週刊</a></span> / <span><a href="https://www.facebook.com/TechBridge.Fans/" target="_blank">粉絲專頁</a></span>
</section>